<!DOCTYPE html>
<html>
<head>
	<link rel="icon" 
      type="image/png" 
      href="favicon.png">
	<title>Resolution collector</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  	<script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css"/>
	<link rel = "stylesheet" href = "prev-suggestions.css">

</head>
<body>

<% include header %>

			<!-- change action to welcome page! -->

	<div class = "container div">
	<div class = "row">
	<div class = "col-md-8">
		
  <div class="jumbotron">
    <h3 id='text-1'> hi, it's Aditya </h3> 
    <p id = 'text-2'><i>Each year’s regrets are envelopes in which messages of hope are found for the New Year.</i> <span id ='auther'> -John R. Dallas Jr.</span></p> 
    <p id='text-3'>save your new year's resolution here and when you feel like giving up, just come back here and think of the moment when you started. I bet, you'll give up on giving up. </p>

    <p id='hashtag'>#toImproving</p>
  </div>
  
		
	</div>
	<div class="col-md-4">
	<form id= 'sug-form' action='submitting' method = 'POST'>
	<div class = "form-group">
	
	<label for='name'>your name :</label>
  	</div>
  	 <input class ="form-control" type = 'text' name = 'person_name' id = 'person_name' placeholder="enter your name here" /><br>
	  <div class = "form-group">
	
	  <label for='suggestion'>your resolution :</label><br>
	</div>
	  <textarea class ="form-control" cols = '50' rows = '6' id='suggestion' name='suggestion' placeholder="enter your resolution here"></textarea>
	  <br>
	  <button type= 'submit' class = 'btn btn-success' id = 'submit-btn'>Submit resolution</button>
     </form>
     </div>
</div>

<script>
$(document).ready(function(){
	$('#sug-form').submit(function(){
		if($('#person_name').val().replace(/ /g, "").length ==0){
			 alertify.alert('NAME MISSING!!', 'Please, enter your name');

			return false;
		}
		else if( $('#suggestion').val().replace(/ /g, "").length == 0){
			 alertify.alert('SUGGESTION MISSING!!', 'Please, enter your resolution');
			return false;

		}
		else 
			return true;
	});
})

</script>

</body>
</html>