<div class="container">
  <h2>resolution collector</h2>
   <ul class="nav nav-tabs" style = 'font-size :16px;'>
    <li><a href="/">Submit resolution</a></li>
    <li><a href="/previous_suggestions">See resolutions</a></li>
    </ul>
</div>